@model ML.Usuario

@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@Html.ActionLink("Agregar", "Form", "Usuario", new { @class = "btn btn-success", @id = "Boton" })



@if (Model.Usuarios.Count > 0)
{
    //impirmir una tabla

    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered table-hover">
                    <thead class="table-dark">
                        <tr class="text-center">
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Rol</th>
                            <th>Direccion</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (ML.Usuario usuario in Model.Usuarios)
                        {
                            <tr class="text-center">
                                <td>@usuario.Nombre @usuario.ApellidoPaterno @usuario.ApellidoMaterno</td>
                                <td>@usuario.ApellidoPaterno</td>
                                <td>@usuario.Rol.Nombre</td>

                                <td>
                                    @usuario.Direccion.Calle , #@usuario.Direccion.NumeroExterior , @usuario.Direccion.NumeroInterior 
                                </td>

                                <td>
                                    <a href="@Url.Action("Form", "Usuario", new {idUsuario = usuario.IdUsuario})" class="btn btn-warning">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>

                                    <a href="@Url.Action("Delete", "Usuario", new {IdUsuario = usuario.IdUsuario})" onclick="return confirm('Estas seguro de eliminarlo?')" class="btn btn-danger">
                                        <i class="bi bi-person-x-fill"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

}
else
{

    <div class="alert alert-danger" role="alert">
        <p>Hay un error @ViewBag.ErrorMessage </p>

    </div>
}


@*<script src="~/Scripts/jquery-3.7.0.js"></script>*@

@Scripts.Render("~/bundles/jquery")

<script>

    //Lenguaje de programacion NO TIPADO
    //INT, STRING, LONG, LIST, CHAR

    //Nivel de Contexto
    //Donde viven las variables

    //let o var

    console.log(document.getElementById('Boton'))
    document.getElementById('Boton')
    $('#Boton')


</script>

